[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
toml = "*"
blessings = "*"

[dev-packages]
pylint = "*"
black = "==19.10b0"
twine = "*"
autohooks = {editable = true,path = "."}
autohooks-plugin-black = "*"
autohooks-plugin-pylint = "*"
