version: 2.1

executors:
  python-37:
    docker:
      - image: circleci/python:3.7
    working_directory: ~/repo
  python-38:
    docker:
      - image: circleci/python:3.8
    working_directory: ~/repo
  python-39:
    docker:
      - image: circleci/python:3.9
    working_directory: ~/repo

commands:
  build:
    description: "Download and build"
    steps:
      - checkout
      - run:
          name: Create environment and update pip
          command: poetry run pip install --upgrade pip
      - run:
          name: Install dependencies
          command: poetry install --no-dev
  test:
    description: "Download and run tests"
    steps:
      - checkout
      - run:
          name: Create environment and update pip
          command: poetry run pip install --upgrade pip
      - run:
          name: Install dependencies
          command: poetry install --no-dev
      - run:
          name: Run unit tests
          command: poetry run python -m unittest
  test-with-codecov:
    description: "Download and run tests"
    steps:
      - checkout
      - run:
          name: Create environment and update pip
          command: poetry run pip install --upgrade pip
      - run:
          name: Install dependencies
          command: poetry install --no-dev
      - run:
          name: Install codecov
          command: poetry run pip install codecov
      - run:
          name: Run unit tests
          command: poetry run coverage run -m unittest
      - run:
          name: Upload coverage to Codecov
          command: poetry run codecov
  lint:
    description: "Lint python files"
    steps:
      - checkout
      - run:
          name: Create environment and update pip
          command: poetry run pip install --upgrade pip
      - run:
          name: Install dependencies
          command: poetry install
      - run:
          name: Print possible diff generated with black
          command: poetry run black -q --diff autohooks tests
      - run:
          name: Check with black
          command: poetry run black --check autohooks tests
      - run:
          name: Check with pylint
          command: poetry run pylint --disable=R autohooks tests
      - run:
          name: Check version information
          command: poetry run python -m pontos.version verify current
  deploy:
    description: "Upload package to PyPI"
    steps:
      - checkout
      - run:
          name: Create environment and update pip
          command: poetry run pip install --upgrade pip
      - run:
          name: Install dependencies
          command: poetry install
      - run:
          name: Verify tag version
          command: poetry run python -m pontos.version verify ${CIRCLE_TAG}
      - run:
          name: Install twine
          command: poetry run pip install twine
      - run:
          name: Initialize .pypirc
          command: |
            echo -e "[distutils]" > ~/.pypirc
            echo -e "index-servers = pypi" >> ~/.pypirc
            echo -e "[pypi]" >> ~/.pypirc
            echo -e "username = __token__" >> ~/.pypirc
            echo -e "password = $PYPI_TOKEN" >> ~/.pypirc
      - run:
          name: Create and upload distributions to pypi
          command: |
            rm -rf dist build python_gvm.egg-info
            poetry build
            poetry run twine upload dist/*

jobs:
  lint-37:
    executor: python-37
    steps:
      - lint
  build-37:
    executor: python-37
    steps:
      - build
  test-37:
    executor: python-37
    steps:
      - test-with-codecov
  build-38:
    executor: python-38
    steps:
      - build
  test-38:
    executor: python-38
    steps:
      - test
  build-39:
    executor: python-39
    steps:
      - build
  test-39:
    executor: python-39
    steps:
      - test
  deploy-37:
    executor: python-37
    steps:
      - deploy

workflows:
  version: 2
  build_and_test:
    jobs:
      - build-37
      - test-37
      - lint-37
      - build-38
      - test-38
      - build-39
      - test-39
  build_and_deploy:
    jobs:
      - build-37:
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
      - deploy-37:
          requires:
            - build-37
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
